# flyctl launch added from .gitignore
**/.idea
/vendor
/node_modules
/var
.env.local

###> symfony/phpunit-bridge ###
**/.phpunit.result.cache
phpunit.xml
###< symfony/phpunit-bridge ###

# Ignorer tout le contenu du dossier uploads
public/uploads

# flyctl launch added from .idea/.gitignore
# Default ignored files
.idea/*
